{{ define "content" }}
  <h1 class="title">{{ .Title }}</h1>
  <small class="post-date-title">{{ .Date.Format "2006-01-02" }}</small>
  <article>
    {{ .Content }}
  </article>
  <center>~</center>
  <div class="screen-fill"></div>
  <small>hi there, well done with the scrolling! nothing more to see here. the blank space is so that jumping to footnotes doesn't suck.</small>
  <!-- {{ .GitInfo.AbbreviatedHash }}
  {{ .GitInfo.AuthorName }}
  {{ .GitInfo.AuthorEmail }}
  {{ .GitInfo.AuthorDate }}
  {{ .GitInfo.Hash }}
  {{ .GitInfo.Subject }} -->
{{ end }}
